<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Product</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css" th:href="@{/style.css}">
  <style>
    /* Additional CSS styles for the Create Product page */
    .create__section {
      margin-bottom: 20px;
    }

    .create__label {
      font-weight: bold;
    }

    .create__input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }

    .errors {
      color: red;
      font-size: 14px;
      margin-top: 5px;
    }

    .create__footer {
      margin-top: 20px;
      text-align: right;
    }

    .create__btn-cancel {
      background-color: #ff6f00;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    .create__btn-cancel:hover {
      background-color: #ff8f00;
    }

    .create__btn-create {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    .create__btn-create:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
<form th:action="@{/products/new}" th:object="${product}" method="post" class="create-form">
  <div class="create__section">
    <label class="create__label" for="name">Name</label>
    <input type="text" class="create__input" id="name" th:field="*{name}" placeholder="Add name here">
    <label class="errors" th:errors="*{name}">Name error placeholder</label>
  </div>
  <div class="create__section">
    <label class="create__label" for="price">Price</label>
    <input type="number" step="0.01" class="create__input" id="price" th:field="*{price}" placeholder="Add title here">
    <label class="errors" th:errors="*{price}">Title error placeholder</label>
  </div>
  <div class="create__footer">
    <a href="#" th:href="@{/}" class="create__btn-cancel btn">Cancel</a>
    <input class="create__btn-create btn" type="submit" value="Create">
  </div>
</form>
</body>
</html>
