<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" th:href="@{/style.css}">
</head>
<body>
<div class="shopping-cart-button">
    <a th:href="@{/shoppingCart}">Shopping Cart</a>
</div>
<div class="container">
    <div th:each="product : ${products}" class="product">
        <div>
            <a th:href="@{/products/{productId}(productId=${product.getProductId()})}" th:text="${product.getName()} + ':'"></a>
            <a th:text="${product.getPrice()} + ' aws'"></a>
            <form th:action="@{/products/{productId}/shoppingCart (productId=${product.getProductId()})}" method="post">
                <button type="submit">Add to Shopping Cart</button>
            </form>
            <form th:action="@{/products/{productId}/deals/{dealId}(productId=${product.getProductId()}, dealId=${deal.getDealID()})}" method="post">
                <label>
                    <input type="checkbox" name="dealCheckbox">
                    Buy 1 get 1 half price
                </label>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="top-left-button">
        <a th:href="@{/products/new}">Create Product</a>
    </div>
</div>
</body>
</html>
