<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Page</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css" th:href="@{/style.css}">
  <style>
    /* Additional CSS styles for the Product Page form */
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    h3 {
      margin-top: 0;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }

    .input-wrapper {
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input[type="number"],
    input[type="text"] {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
      box-sizing: border-box; /* Added */
    }

    .error-edit {
      color: red;
      font-size: 14px;
      margin-top: 5px;
    }

    .visit-project {
      margin-top: 20px;
      text-align: center;
    }

    .cancel-button,
    .submit-button {
      background-color: #ff6f00;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .cancel-button:hover,
    .submit-button:hover {
      background-color: #ff8f00;
    }
  </style>
</head>
<body>
<div>
  <form class="edit-profile-form" method="post" th:action="@{/products/{productId}(productId=${product.getProductId()})}"
        th:object="${productDto}" enctype="multipart/form-data">
    <div class="container">
      <h3>Product Details</h3>
      <div class="input-wrapper">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:value="${product.name}" readonly>
      </div>
      <div class="input-wrapper">
        <label for="price">Price</label>
        <input type="number" step="0.01" id="price" name="price" th:value="*{price}" placeholder="Enter product price">
        <label class="error-edit" th:errors="*{price}">Price error placeholder</label>
      </div>
      <div class="visit-project">
        <a href="/users/profile" th:href="@{/}" class="cancel-button">Cancel</a>
        <button type="submit" class="submit-button">Save Changes</button>
      </div>
    </div>
  </form>

</div>
</body>
</html>
