<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .cart-container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 30px;
        }

        .cart-item {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #eee;
        }

        .product-details {
            flex: 1;
        }

        .product-name {
            font-size: 18px;
            color: #333;
            margin-bottom: 5px;
        }

        .product-price {
            font-size: 16px;
            color: #888;
        }

        .total-price {
            text-align: right;
            margin-top: 30px;
            font-size: 20px;
            font-weight: bold;
            color: #333;
        }

        .empty-cart {
            text-align: center;
            color: #888;
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="cart-container">
    <h1>Shopping Cart</h1>

    <div th:if="${productsList.isEmpty()}" class="empty-cart">
        Your cart is empty.
    </div>

    <div th:each="product : ${productsList}" class="cart-item">
        <div class="product-details">
            <div class="product-name" th:text="${product.getName()}"></div>
            <div class="product-price" th:text="${product.getPrice()} + ' aws'"></div>
        </div>
    </div>

    <div class="total-price" th:if="${not productsList.isEmpty()}">
        Total Price: <span th:text="${totalPrice} + ' aws'"></span>
    </div>
</div>
</body>
</html>
