/* Add your desired styles below */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.product a:hover {
    color: #ff5c5c;
}

.product button {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.product button:hover {
    background-color: #e53935;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0062cc;
}

.shopping-cart-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.shopping-cart-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f00;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.shopping-cart-button a:hover {
    background-color: #ff8f00;
}

.cart-item {
    margin-bottom: 10px;
}

.cart-item span {
    display: inline-block;
    width: 150px;
}

.top-left-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
}

.top-left-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f00;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.top-left-button a:hover {
    background-color: #ff8f00;
}
